<div class="form-container">
    <h2>Fill in the Session details</h2>
    <form>
      <label for="name">Name of session:</label>
      <input type="text" id="name" name="name" required>
  
      <label for="price">Session price:</label>
      <input type="number" id="price" name="price" required>
  
      <label for="shooting">Number of shootings:</label>
      <input type="number" id="shooting" name="shooting" required>
  
      <label for="photo">Upload session photo:</label>
      <input type="file" id="photo" name="photo" accept="image/*" required>
  
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required>
  
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>
  