<div *ngIf="isLogin" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mmm d-flex position-relative">
        <img src="../../assets/imags/R 1.png" class="w-100" alt="" />
        <h2 class="fw-bolder position-absolute m-5">wedding</h2>
      </div>
    </div>
  </div>

  <!-- Wedding -->
  <div class="container">
    <div><h3 class="">Wedding</h3></div>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of firstFourWedding">
        <div [routerLink]="['/mohamed/widdinglist/', item.id]">
          <div class="product-box">
            <img [src]="item.cover" alt="Product Image" />
            <div class="product-name">{{ item.name }}</div>
            <div class="product-hall">{{ item.style }}</div>
            <div class="product-price">{{ item.price }}$</div>
            <div class="product-evaluation">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i class="fa fa-star" [ngClass]="{ filled: i < item.rate }"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--session  -->
  <div class="container">
    <div><h3 class="qq fw-bolder m-3">session</h3></div>
    <div class="as d-flex justify-content-end"></div>

    <div class="row gx-5">
      <div class="col-md-3" *ngFor="let item of firstFourSession">
        <div [routerLink]="['/mohamed/Sessionlist', item.id]">
          <div class="product-box">
            <img [src]="item.cover" alt="Product Image" />
            <div class="product-name">{{ item.name }}</div>
            <div class="product-hall">Session</div>
            <div class="product-price">{{ item.price }}$</div>
            <div class="product-evaluation">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i class="fa fa-star" [ngClass]="{ filled: i < item.rate }"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  photographer   -->
  <div class="container">
    <div><h3 class="qq fw-bolder m-3">photographer</h3></div>
    <div class="row gx-5">
      <div class="col-md-3" *ngFor="let item of firstFourPhotographer">
        <div [routerLink]="['/mohamed/PhotographerList', item.id]">
          <div class="product-box">
            <img [src]="item.cover" alt="Product Image" />
            <div class="product-name">{{ item.name }}</div>
            <div class="product-hall">Photographer</div>
            <div class="product-price">{{ item.price }}$</div>
            <div class="product-evaluation">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i class="fa fa-star" [ngClass]="{ filled: i < item.rate }"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- videography -->
  <div class="container">
    <div><h3 class="qq fw-bolder m-3">videography</h3></div>
    <div class="row gx-5">
      <div class="col-md-3" *ngFor="let item of firstFourVideographer">
        <div [routerLink]="['/mohamed/videographyList', item.id]">
          <div class="product-box">
            <img [src]="item.cover" alt="Product Image" />
            <div class="product-name">{{ item.name }}</div>
            <div class="product-hall">Videography</div>
            <div class="product-price">{{ item.price }}$</div>
            <div class="product-evaluation">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i class="fa fa-star" [ngClass]="{ filled: i < item.rate }"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
