



<div   class="widding">
    <div class="container mx-auto  mt-5 pt-4" id="widding">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="box text-center">
                    <h1>wedding</h1>
                    <P>You can book through the party places application the right place to make your wedding and also the right price for you at any time and from anywhere</P>
                    <a class="btn btn-primary py-3 px-3 w-50 m-auto" (click)="ggt()"href="" routerLink="Next">Next</a>
                    <h6 class="h4" (click)="ggpp()"href="" routerLink="Skip">
                        Skip
                    </h6 >

                </div>
            </div>
            <div class="col-md-6 position-relative">
                <div class="box">

                  <img class="w-100" src="../../assets/imags/THE-VENETIAN-CATERING-NJ-WEDDING-35.jpg" alt="">

                  </div>

            </div>

        </div>
    </div>

</div>


