<div class="container">
  <div><h3 class="qq fw-bolder m-3">Wedding</h3></div>
  <div class="row gx-5">
    <div
      *ngFor="let movie of trendingMovies; let index = index"
      class="col-md-3"
    >
      <div
        class="product-box"
        [routerLink]="['/mohamed/widdinglist', movie.id]"
      >
        <img src="{{ movie.cover }}" class="w-100" alt="" />
        <div class="product-name">{{ movie.name }}</div>
        <div class="product-hall">{{ movie.style }}</div>
        <div class="product-price">{{ movie.price }}$</div>
        <div>
          <a> </a>
        </div>
      </div>
    </div>
  </div>
</div>
