<!-- <div class="container ">
    <div><h3 class="qq fw-bolder m-3">Wedding</h3></div>
    <div class="row gx-5">
      <div   class="col-md-3">
        <div class="product-box ">
          <img src="" alt="Product Image">
          <div class="product-name"></div>
          <div class="product-hall"></div>
          <div class="product-price"></div>
          <div class="product-evaluation">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          </div>
        </div>
      </div>
    </div> -->



    <div class="container ">
      <div><h3 class="qq fw-bolder m-3">Wedding</h3></div>
      <div class="row gx-5">
        <div  *ngFor="let movie of trendingMovies,let index=index"   class="col-md-3">
          <div   class="product-box " [routerLink]="['/mohamed/widdinglist',movie.id]">
            <img src={{movie.cover}} class="w-100"  alt="">
            <div class="product-name">{{movie.name}}</div>
            <div class="product-hall">{{movie.style}}</div>
            <div class="product-price">{{movie.price}}</div>
            <div >
              <a >  
              </a>
          </div>
        </div>
      </div>
    </div>



    
      
    
<!-- 
      <div class="product-box" *ngFor="let item of items">
        <h2>{{ item.name }}</h2>
        <img [src]="item.cover_image" alt="{{ item.name }}" />
        <p>Price: {{ item.price }}</p>
        <p>Number of Chairs: {{ item.chairs_no }}</p>
        <p>Number of Tables: {{ item.numberOfTables }}</p>
      </div> -->