.product-box {
    width: 300px; 
    border: 1px solid #ccc; 
    padding: 15px; 
    margin: 10px; 
    background: #F8F8F8;
    border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  }
  
  /* .product-box:hover{
    background-color:transparent;
    border: 1rem;
  
  } */
  
  
  .product-box img {
    width: 100%; 
    height: 156px;
  left: 146.783203125px;
  top: 562px;
  border-radius: 13px;
  
  }
  
  .product-box .product-name {
    font-size: 18px; 
    margin-top: 10px;
  font-family: 'Ebrima';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: #000000;
  
  }
  
  .product-hall
  {
    font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #979797;
  
  }
  
  .product-box .product-price {
    font-size: 16px; 
    font-family: 'Ebrima';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000; 
  }
  
  .product-box .product-evaluation span {
    font-size: 14px; 
    color: #E7E726;
   
   
  }
  
  
  
  .view a{
    /* text-decoration: underline;
    cursor: pointer; */
    /* position: absolute;
  left: 90.93%;
  right: 12.96%;
  top: 60.87%;
  bottom: 75.09%; */
  font-family: 'Ebrima';
  font-style: normal;
  font-weight: 40;
  font-size: 30px;
  line-height: 41px;
  color: #2f2929;
  text-decoration: none;
  position: relative;
  
  
  }
  .view a::after
  {
    content:'';
   position: absolute;
  }
  .view a::before
  {
    content:'';
   position: absolute;
   background-image:linear-gradient(45deg,black,white);
   
   width: 66px;
   height: 4px;
   bottom: -3px;
   right: 50%;
   transform: translateX(-50%);
   left: 50%;
   cursor: pointer;
   transition: 0.7s ease-in-out;
  }
  .view a:hover::before
  {
    width: 140%;
  
  }
  
  
  


  
.product-box
{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.product-box:hover
{
 box-shadow:  #b49f9fb8 25px 12px 42px 8px;
  transform: scale(1.02);
  
}




a{
  color:#000000;
  text-decoration: none;
}

.fa-star {
  color: #ccc;
  cursor: pointer;
  font-size: 1em;
  transition: color 200ms;
  overflow: hidden;
  
}

.fa-star{
  
  padding: 1px;
  font-size: 18px;
  color: #444;
  transition: all .2s;
}


.fa-star:before {
  transition: all .25s;
}


.fa-star:before {
  
  text-shadow: 0 0 10px;
}

.fa-star:hover{
  transform: rotate(-15deg) scale(1.3);
}


.filled {
  color: #ffc107;
} 


