<div   class="widding">
    <div class="container mx-auto mt-5 pt-4" id="widding">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="box text-center">
                    <h1>Photographer </h1>
                    <P>You can book through the party places application the photographer that is suitable for your wedding or any occasion, and also the right price for you at any time and from anywhere</P>
                    <a class="btn btn-primary py-3 px-3 w-50 m-auto" (click)="ggk()" href="" routerLink="Next">Next</a>
                    <h6 class="h4" (click)="ggkl()" href="" routerLink="Skip">
                        Skip
                    </h6 >

                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                 
                  <img src="../../assets/imags/2017-636419622041055503-105.jpg" alt="">

                </div>

            </div>

        </div>
    </div>

</div>