<div class="container card mt-5 p-4">
  <h4 class="alert alert-primary text-center">edit Hell</h4>
  <form [formGroup]="hell" (ngSubmit)="onSubmit(hell.value)" encType="multipart/form-data">
    <div class="row">
      <div class="col-md-6 d-none">
        <div class="mb-1">
          <label for="name" class="form-label">Name:</label>
          <input class="form-control" type="text" formControlName="name" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="name" class="form-label">Name:</label>
          <input class="form-control" type="text" formControlName="name" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="style" class="form-label">Style:</label>
          <input class="form-control" type="text" formControlName="style" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="location" class="form-label">Location:</label>
          <input class="form-control" type="text" formControlName="location" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="cover_image" class="form-label">Cover Image:</label>
          <input class="form-control" (change)="cover_image($event)" type="file" formControlName="cover_image" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="threeD_module" class="form-label">3D Module:</label>
          <input class="form-control" type="file" formControlName="threeD_module" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="video_upload" class="form-label">Video Upload:</label>
          <input class="form-control" (change)="VideoUpload($event)" type="file" formControlName="video_upload" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="open_day" class="form-label">Open Day:</label>
          <input class="form-control" type="text" formControlName="open_day" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="close_day" class="form-label">Close Day:</label>
          <input class="form-control" type="text" formControlName="close_day" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="price" class="form-label">Price:</label>
          <input class="form-control" type="number" formControlName="price" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="images" class="form-label">Images:</label>
          <input class="form-control" (change)="ImagesUpload($event)" type="file"  multiple required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="total_space" class="form-label">Total Hell Space:</label>
          <input class="form-control" type="text" formControlName="total_space" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="chairs_no" class="form-label">text of Chairs:</label>
          <input class="form-control" type="text" formControlName="chairs_no" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="tables_no" class="form-label">text of Tables:</label>
          <input class="form-control" type="text" formControlName="tables_no" required />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-1">
          <label for="description" class="form-label">Description:</label>
          <textarea class="form-control" formControlName="description" required></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-primary btn mt-3 w-100">Send</button>
  </form>
</div>
