.nn{
    width: 190%;
    height: 110%;
    border-radius: 5%;
}
.kk{
    position: relative;
 
    position: relative;
    right: -200%;
    bottom: 93%;
}
.jjk{
  position: relative;
    left: 116%;
    top: 24%;
    
    border-radius: 17px;
}

.kkc{
    position: relative;
    right: -208%;
    bottom: 79%;
    
font-family: 'Segoe UI';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 23px;
color: #979797;

}

.kom{
    position: relative;
    left: 95%;
    top: 88px;
    font-size: 17px;
}
.product-box
{
  cursor: pointer;
  transition: all .3s ease-in-out;
  
}

.product-box:hover
{
 box-shadow:  #b49f9fb8 25px 12px 42px 8px;
  transform: scale(1.02);
  
}













.product-box {
  width: 300px; 
  border: 1px solid #ccc; 
 
  background: #F8F8F8;

border-radius: 5%;
}




.product-box img {
    width: 265%;
    height: 225%;

border-radius: 13px;


}
