<nav class="beautiful-navbar">
  <ul>
    <li><a *ngIf="isLogin" routerLink="/mohamed/homepage">Home</a></li>
    <li><a *ngIf="isLogin" routerLink="/mohamed/widding2">Wedding</a></li>
    <li><a *ngIf="isLogin" routerLink="/mohamed/session2">Session</a></li>
    <li>
      <a *ngIf="isLogin" routerLink="/mohamed/Photographer2">Photographer</a>
    </li>
    <li>
      <a *ngIf="isLogin" routerLink="/mohamed/videography2">Videography</a>
    </li>
    <li class="nav-item d-flex align-items-center mx-4">
      <span *ngIf="isLogin" class="c fa fa-globe">
        {{ userInfo.getValue().first_name }}</span
      >
    </li>
    <i routerLink="/mohamed/Profilepage" class="fa fa-user-circle fa-2x"></i>
  </ul>
</nav>
