<div class="container card mt-5 p-4">
  <h4 class="alert alert-primary text-center">
    Fill in the photographer details
  </h4>
  <form action="submit">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-1">
          <label for="name" class="form-label">Name:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="price" class="form-label">price:</label>
          <input
            class="form-control"
            type="number"
            id="price"
            name="price"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="cover_image" class="form-label"
            >Upload cover image:</label
          >
          <input
            class="form-control"
            type="file"
            id="cover_image"
            name="cover_image"
            accept="image/*"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="shooting" class="form-label">Number of shootings:</label>
          <input
            class="form-control"
            type="number"
            id="shooting"
            name="shooting"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="open_day" class="form-label">open day:</label>
          <input
            class="form-control"
            id="open_day"
            name="open_day"
            type="text"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="close_day" class="form-label">close day:</label>
          <input
            class="form-control"
            id="close_day"
            name="close_day"
            type="text"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="images[0]" class="form-label"> images 0:</label>
          <input
            class="form-control"
            type="file"
            id="images[0]"
            name="images[0]"
            accept="image/*"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="images[1]" class="form-label"> images 1:</label>
          <input
            class="form-control"
            type="file"
            id="images[1]"
            name="images[1]"
            accept="image/*"
            required
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-1">
          <label for="location" class="form-label">Location:</label>
          <input
            class="form-control"
            id="location"
            name="location"
            type="text"
            required
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-1">
          <label for="description" class="form-label">Description:</label>
          <textarea
            id="description"
            class="form-control"
            name="description"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-primary btn mt-3 w-100">send</button>
  </form>
</div>
