<div class="container">
  <div class="row">
    <div class="box">
      <div>
        <img src="../../assets/imags/1 51.png" class="w-100" alt="Image 1" />
        <h3>Wedding</h3>
        <button routerLink="/mohamed/hell">Click here</button>
      </div>
    </div>

    <div class="box">
      <div>
        <img src="../../assets/imags/s1 2.png" class="w-100" alt="Image 1" />
        <h3>session</h3>
        <button routerLink="/mohamed/SessionDetails">Click here</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div>
        <img
          src="../../assets/imags/download.jpg"
          class="w-100"
          alt="Image 1"
        />
        <h3>photographer</h3>
        <button routerLink="/mohamed/PhotographerForm">Click here</button>
      </div>
    </div>

    <div class="box">
      <img
        src="../../assets/imags/image-asset.jpeg"
        class="w-100"
        alt="Image 1"
      />
      <h3>videography</h3>
      <button routerLink="/mohamed/VideographyForm">Click here</button>
    </div>
  </div>
</div>
