<!-- <body>
    <div class="container">
      <button class=" btn">Button 1</button>
      <button class="btn">Button 2</button>
      <button class="btn">Button 3</button>
      <button class="btn">Button 4</button>
    </div>
    </body> -->

    <!-- <div class="container">
        <div class="box">
          <img src="../../assets/imags/أنواع-التصوير-الفوتوغرافي.webp" class="w-100" alt="Image 1">
          <h3>Image 1</h3>
          <button>Click me</button>
        </div>
        
        <div class="box">
            <img src="../../assets/imags/أنواع-التصوير-الفوتوغرافي.webp" class="w-100" alt="Image 1">
          <h3>Image 2</h3>
          <button>Click me</button>
        </div>
        
        <div class="box">
            <img src="../../assets/imags/أنواع-التصوير-الفوتوغرافي.webp" class="w-100" alt="Image 1">
          <h3>Image 3</h3>
          <button>Click me</button>
        </div>
        
        <div class="box">
            <img src="../../assets/imags/أنواع-التصوير-الفوتوغرافي.webp" class="w-100" alt="Image 1">
          <h3>Image 4</h3>
          <button>Click me</button>
        </div>
      </div> -->

      <div class="container">
        <div class="row">
          <div class="box">
            <div>
                <img src="../../assets/imags/1 51.png" class="w-100"  alt="Image 1" ><h3>Wedding</h3>
                <button  (click)="ggffl()" href="" routerLink="Click here">Click here</button>
            </div>
          
          </div>
      
          <div class="box">
            <div>
                <img src="../../assets/imags/s1 2.png"  class="w-100"  alt="Image 1"><h3>session</h3>
                <button  (click)="ggfmfl()" href="" routerLink="Click here">Click here</button>
            </div>
           
          </div>
        </div>
      
        <div class="row">
          <div class="box">
            <div>
                <img src="../../assets/imags/download.jpg"  class="w-100"  alt="Image 1"><h3>photographer</h3>
            <button>Click here</button>
            </div>
            
          </div>
      
          <div class="box">
            <img src="../../assets/imags/image-asset.jpeg"  class="w-100"   alt="Image 1"><h3>videography</h3>
            <button>Click here</button>
          </div>
        </div>
      </div>
      
      