<div class="container">
  <div class="row">
    <div class="box col-sm-6 col-md-6 col-lg-6">
      <div>
        <img src="../../assets/imags/1 51.png" class="w-100" alt="Image 1" />
        <h3>Wedding</h3>
        <div class="d-flex justify-content-between">
          <button class="w-50 m-1" routerLink="/mohamed/hell">
            Add
          </button>
          <button class="w-50 m-1" routerLink="/mohamed/hell">
            Show
          </button>
        </div>
      </div>
    </div>

    <div class="box col-sm-6 col-md-6 col-lg-6">
      <div>
        <img src="../../assets/imags/s1 2.png" class="w-100" alt="Image 1" />
        <h3>session</h3>
        <div class="d-flex justify-content-between">
          <button class="w-50 m-1" routerLink="/mohamed/SessionDetails">
            Add
          </button>
          <button class="w-50 m-1" routerLink="/mohamed/VideographyForm">
            Show
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box col-sm-6 col-md-6 col-lg-6">
      <div>
        <img
          src="../../assets/imags/download.jpg"
          class="w-100"
          alt="Image 1"
        />
        <h3>photographer</h3>
        <div class="d-flex justify-content-between">
          <button class="w-50 m-1" routerLink="/mohamed/PhotographerForm">
            Add
          </button>
          <button class="w-50 m-1" routerLink="/mohamed/VideographyForm">
            Show
          </button>
        </div>
      </div>
    </div>

    <div class="box col-sm-6 col-md-6 col-lg-6">
      <div>
        <img
          src="../../assets/imags/image-asset.jpeg"
          class="w-100"
          alt="Image 1"
        />
        <h3>videography</h3>
        <div class="d-flex justify-content-between">
          <button class="w-50 m-1" routerLink="/mohamed/VideographyForm">
            Add
          </button>
          <button class="w-50 m-1" routerLink="/mohamed/VideographyForm">
            Show
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
