<div class="container">
  <div class="row py-5">
    <div class="col-md-4">
      <div class="product-box">
        <img class="img-fluid" src="{{ photo.cover }}" alt="" />
      </div>

      <h3 class="text-center w-50 mt-2 ms-5">{{ photo.name }}</h3>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li><strong>Price:</strong> {{ photo.price }}</li>
        <li><strong>Location:</strong> {{ photo.location }}</li>
        <li><strong>Open_day:</strong> {{ photo.open_day }}</li>
        <li><strong>close_day:</strong> {{ photo.close_day }}</li>
      </ul>
      <button class="btn btn-primary btn-block mt-3">Reservation</button>
    </div>
    <div class="col-12 mt-5">
      <h5>Description:</h5>
      {{ photo.description }}
    </div>

    <div class="col-12 mt-5">
      <h5>Images:</h5>
      <div class="row">
        <div class="col-md-4" *ngFor="let image of photo.images">
          <img
            class="img-fluid rounded mb-3 w-100"
            [src]="image.path"
            style="height: 200px"
            alt="Wedding Hall"
          />
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h5>Videos:</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <video class="w-100" controls>
              <source src="{{ photo.video }}" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
