<div class="container">
  <div class="row py-5">
    <div class="col-md-4">
      <div class="product-box">
        <img class="img-fluid p-3" [src]="wedding.cover" alt="Wedding Hall" />
      </div>

      <h3 class="text-center w-50 mt-2 ms-5">{{ wedding.name }}</h3>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li><strong>Style:</strong> {{ wedding.style }}</li>
        <li><strong>Price:</strong> {{ wedding.price }}</li>
        <li><strong>Location:</strong> {{ wedding.location }}</li>
        <li><strong>Table Number:</strong> {{ wedding.tables_no }}</li>
        <li><strong>Chairs Number:</strong> {{ wedding.chairs_no }}</li>
        <li><strong>Total Space:</strong> {{ wedding.total_space }}</li>
        <li><strong>Tables Number:</strong> {{ wedding.tables_no }}</li>
      </ul>
      <button class="btn btn-primary btn-block mt-3">Reservation</button>
    </div>
    <div class="col-12 mt-5">
      <h5>Description:</h5>
      <p>{{ wedding.description }}</p>
    </div>
  </div>
</div>
