<!-- <div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src={{movieDetails.cover}} class="w-100"  alt="">
        <p>{{movieDetails.name}}</p>
        <p>{{movieDetails.chairs_no}}</p>
        </div>
        
    </div>

  
</div>
 -->

<div class="container">
    <div class="row py-5">
        <div class="col-md-4">
            <div  class="product-box ">
                <img class="nn " [src]="wedding.cover" alt="">
            </div>

            <h4  class="kkc">Hall</h4>
            <h3 class="kk">{{wedding.name}}</h3>
            <!-- <p class="kkc">{{wedding.price}}</p> -->

            <!-- <ul>
                <li class="ko">price :{{wedding.price}}</li>
            </ul> -->
        </div> 
        <div class="col-md-4">
             <ul>
                <li class="kom">price :{{wedding.price}}</li>
                <li class="kom">description :{{wedding.description}}</li>
                <li class="kom">created_at :{{wedding.created_at}}</li>
                <li class="kom ">location :{{wedding.location}}</li>
                <li class="kom">table_no :{{wedding.table_no}}</li>
                <li class="kom">chairs_no :{{wedding.chairs_no}}</li>
                <li class="kom">total_space :{{wedding.total_space}}</li>
                <li class="kom">style :{{wedding.style}}</li>
                
                
            </ul> 
            <button class="jjk btn btn-primary py-3 px-3 w-50 m-auto">reservation</button>

            
        </div>

       
        

       
    </div>
</div>

       

   

<!-- <h6>{{movieId}}</h6> -->




