


img{
    position: absolute;
    left: 38.03%;
    right: 42.03%;
    top: 20.3%;
    bottom: 50.22%;

}
h4{
    position: absolute;
    color:  #010C80;
    left: 42.77%;
    right: 32.93%;
    top: 67.33%;
    bottom: 34.26%;
    font-family: 'Segoe UI';
    font-style: normal;

}
