<div class="container card mt-5 p-4">
  <h4 class="alert alert-primary text-center">Add New Hell</h4>
  <form action="submit" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-1">
          <label for="name" class="form-label">Name:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="style" class="form-label">Style:</label>
          <input
            class="form-control"
            type="text"
            id="style"
            name="style"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="total-space" class="form-label">Total Hell Space:</label>
          <input
            class="form-control"
            type="number"
            id="total-space"
            name="total-space"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="num-chairs" class="form-label">Number of Chairs:</label>
          <input
            class="form-control"
            type="number"
            id="num-chairs"
            name="num-chairs"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="num-tables" class="form-label">Number of Tables:</label>
          <input
            class="form-control"
            id="num-tables"
            name="num-tables"
            type="number"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-1">
          <label for="price" class="form-label">Price:</label>
          <input
            class="form-control"
            required
            type="number"
            id="price"
            name="price"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-1">
          <label for="photo" class="form-label">Upload Photo:</label>
          <input
            class="form-control"
            required
            type="file"
            id="photo"
            name="photo"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn-primary btn mt-3 w-100">send</button>
  </form>
</div>
