<div class="container">
  <div><h3 class="qq fw-bolder m-3">session</h3></div>
  <div class="row gx-5">
    <div
      *ngFor="let session of trendingMovies1; let index = index"
      class="col-md-3"
    >
      <div
        class="product-box"
        [routerLink]="['/mohamed/Sessionlist', session.id]"
      >
        <img src="{{ session.cover }}" class="w-100" alt="" />
        <div class="product-name">{{ session.name }}</div>
        <div class="product-price">{{ session.price }}</div>
        <div>
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i class="fa fa-star" [ngClass]="{ filled: i < session.rate }"></i>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
