
.xx{
    width: 50%;
    
}

.product-box
{
    
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: relative;
  /* top:22%;
  left: 20%; */
}
/*  
.product-box:hover
{
 box-shadow:  #b49f9fb8 25px 12px 42px 8px;
  transform: scale(1.02);
  
}  */


input{
   
    border: 1px solid #ccc;
    border-radius: 40px;
}
/* .imm{
    width: 20%;
    height: 50px;
} */













/* 

#form {
    width: 44%;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
    font-family: 'Ebrima';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

color: #000000;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 40px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 40px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
  
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  
}
.m{
    font-size: 17px;
}
p{
    border-radius: 40px;
}
.m{
    font-size: 17px;
}

.alert{
    border-radius: 40px;
} */




/*  */
.wrapp{
    width: 44%;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    position: relative;
    margin-top: 5%;
}

.moh h2{
   
font-family: 'Ebrima';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

color: #000000;

}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    border: 2px solid #f0f0f0;
	border-radius: 40px;
	display: block;
	font-size: 16px;
	padding: 10px;
	width: 195%;
    
}

.input-box  label{
    font-size: 18px;
}

.input-box input:focus {
    outline: 0;
}

.input-box.success input {
    border-color: #09c372;
}

.input-box.error input {
    border-color: #ff3860;
  
}

.input-box .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  
}

.input-box button{
    width: 45%;
}

